<h1>Log In</h1>

<%= simple_form_for :signin, url: sessions_path , :html=> {:class => "ui form segment"} do |f| %>
  <%= f.input :email, :placeholder=> "Email", :html=>{:class=> "user icon"} %>
  <%= f.input :password, :placeholder=> "Password" %>
	<%= f.button :submit, "Sign In", :class => "ui green submit button" %>
<% end %>