		
<%= simple_form_for @employee, :input_html => { :id => 'EmployeeSetUpForm' } do |f| %>
  <%= f.error_notification %>
	<%= render '#{@employee.current_step}_step', :locals => { :f => f } %>
	<div class="form-actions">
   <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
