<p id="notice"><%= notice %></p>

<p>
  <strong>Relationship name:</strong>
  <%= @relationship.relationship_name %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
