<%= simple_form_for @employee, url: wizard_path do |f| %>
<%= f.error_notification %>
	
	  <%= yield f %>
	
	<div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>


